.ctaPrimary {
    padding: 1rem 2rem;
    background-color: var(--color-primary);
    border-radius: 0.7rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    cursor: pointer;
    color: #0f253e;
    transition: 0.3s all ease;
    text-align: center;
    &:hover {
        background: none;
        color: var(--color-primary);
        box-shadow: 0 0 0 1px var(--color-primary);
    }
}
.ctaSecondary {
    padding: 1rem 2rem;
    border: 1px solid var(--color-primary);
    border-radius: 0.7rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: bold;
    transition: 0.3s all ease-in-out;
    background: none;
    text-align: center;
    cursor: pointer;
    color: #2f4858;
    &:hover {
        background-color: var(--color-primary);
        color: #0f253e;
        transform: scale(1.07);
    }
}
