.navigation {
    width: 100%;
    transition: 0.3s all ease-in-out;
    .navContainer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: var(--container-xl);
        margin-inline: auto;
        padding: var(--padding-xs);
        .icon {
            font-size: 2.8rem;
            color: var(--color-white);
            display: none;
        }
        .navList {
            display: flex;
            align-items: center;
            gap: 3.8rem;
            .navLink,
            .navLink:link {
                font-size: 1.8rem;
                text-transform: uppercase;
                letter-spacing: 1px;
                font-family: var(--font-family-primary);
                font-weight: 300;
                color: #fff;
                padding: 0 5px 5px 5px;
                transition: 0.3s all ease-in-out;
                &:hover {
                    color: var(--color-primary);
                    border-bottom: 1px solid var(--color-primary);
                }
            }
            .active {
                color: var(--color-primary);
                border-bottom: 1px solid var(--color-primary);
            }
        }
    }
}
.sticky {
    .navContainer {
        max-width: var(--container-xl);
    }
    background-color: var(--color-dark);
    position: fixed;
    top: 0;
    z-index: 1111;
    animation-duration: 0.7s;
    animation-name: fadeInDown;
    animation-timing-function: ease-out;
}
@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@media (max-width: 768px) {
    .navigation {
        .icon {
            display: block !important;
        }
        background-color: var(--color-dark);
        .navList {
            gap: 10vh;
            flex-direction: column;
            position: absolute;
            top: 100px;
            left: -100%;
            background-color: var(--color-dark);
            padding-block: var(--padding-sm);
            width: 60vw;
            height: 100vh;
            z-index: 1000;
            transition: 0.3s all ease-in-out;
        }
        .isOpen {
            left: 0;
        }
    }
}
